// Fuentes
$main_font: "Roboto", sans-serif;

// Tamaño de Media Queries
$telphone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$first: #c3c4d7;
$second: #4a74ff;
$negro: #000;
$blanco: #ffffff;
$grisClaro: #eceeef;
$title: #234e72;
$form-card: #484964;

$space: 5rem;
